/* ========== General ========== */
body {
    background-color: #f0b564;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* ========== Navbar ========== */
  .navbar {
    background-color: rgba(255, 172, 6, 0.866);
    color: #f5e7e7;
    padding: 10px;
    font-size: 20px;
    text-align: center;
  }
  
  .container-fluid {
    background-color: rgba(255, 172, 6, 0.866);
    text-align: center;
    align-items: center;
  }
  
  .navbar>ul>li:hover {
    cursor: pointer;
  }
  
  .navbar-brand {
    font-size: 30px;
    color: rgb(243, 243, 235);
  }
  
  /* ========== Chargers Section ========== */
  #chargers {
    text-align: center;
    font-size: larger;
    margin-top: 30px;
    padding: 0 20px;
  }
  
  .chargers-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    padding: 20px;
    justify-items: center;
    align-items: center;
  }
  
  .charger>img {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    transition: transform 0.2s;
    border-radius: 10px;
  }
  
  .charger>img:hover {
    cursor: pointer;
    transform: scale(1.21);
  }
  
  .charger>img:active {
    transform: scale(1);
  }
  
  .charger>h1 {
    font-size: 20px;
    text-align: center;
  }
  