body{
    background-color: #f0b564;
}
.navbar{
    background-color: rgba(255, 172, 6, 0.866);
    color: #f5e7e7;
    padding: 10px;
    font-size: 20px;
    text-align: center;

}
.container-fluid{
    background-color: rgba(255, 172, 6, 0.866);
    text-shadow: #f5e7e7;
    text-align: center;
    align-items: center;
}
.navbar>ul>li:hover{
    cursor: pointer;

    }

.navbar-brand{
    font-size: 30px;
    color: rgb(243, 243, 235);
   

}

#Computermain{
    text-align: center;
    font-size: larger;
    margin-top: 30px;
}

.Computers-container{
    margin-top: 20px;    ;
    display: grid;
    grid-template-columns: auto auto auto ; 
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.Computer>img:hover{
    cursor: pointer;
    transform: scale(1.21);
}
.Computer>img:active{
    transform: scale(1);
}

.Computer>h1{
    font-size: 30px;
    text-align: center;
}
.Computer>img{
    width: 200px;
    height: 200px;
    margin: 10px;
    transition: transform 0.2s;
    margin-top: 20px;
}
#Tablets{
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
}
#Tablets>h1{
    font-size: 50px;
    text-align: center;
}
.Tablet>img{
    width: 200px;
    height: 200px;
    margin: 20px;
    transition: transform 0.2s;
    margin-top: 20px;
}

.Tablets-container{

   margin-top: 20px;    ;
    display: grid;
    grid-template-columns: auto auto auto ; 
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px; 
}
.Tablet>img:hover{
    cursor: pointer;
    transform: scale(1.21);
}
.Tablet>img:active{
    transform: scale(1);
}

.Tablet>h1{
    font-size: 30px;
    text-align: center;
}
.Tablet>img{
    width: 200px;
    height: 200px;
    margin: 10px;
    transition: transform 0.2s;
    margin-top: 20px;}