body {
    background-color: #f0b564;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    background-color: rgba(255, 172, 6, 0.866);
    color: #f5e7e7;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}
.container-fluid {
    background-color: rgba(255, 172, 6, 0.866);
    text-align: center;
    align-items: center;
}
.navbar-brand {
    font-size: 30px;
    color: rgb(243, 243, 235);
}
.navbar-nav li:hover {
    cursor: pointer;
}

/* Headings */
#Computermain, #Tablets {
    text-align: center;
    font-size: larger;
    margin-top: 30px;
}
#Tablets {
    margin-top: 100px;
    font-size: 30px;
}
#Tablets > h1 {
    font-size: 50px;
}

/* Containers */
.Computers-container,
.Tablets-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
}

/* Items */
.Computer, .Tablet {
    text-align: center;
}
.Computer > h1,
.Tablet > h1 {
    font-size: 30px;
}
.Computer > img,
.Tablet > img {
    width: 200px;
    height: 200px;
    margin: 10px;
    transition: transform 0.2s;
}
.Computer > img:hover,
.Tablet > img:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.Computer > img:active,
.Tablet > img:active {
    transform: scale(1);
}

/* Responsive Design */
@media screen and (max-width: 992px) {
    .Computers-container,
    .Tablets-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 576px) {
    .Computers-container,
    .Tablets-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .Computer > img,
    .Tablet > img {
        width: 150px;
        height: 150px;
    }

    .Computer > h1,
    .Tablet > h1 {
        font-size: 20px;
    }

    #Tablets > h1 {
        font-size: 30px;
    }
}
